<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30001">
        <setting label="30011" type="text"   id="mqtthost" default="127.0.0.1"/>
        <setting label="30012" type="number"   id="mqttport" default="1883"/>
        <setting label="30013" type="text" id="mqtttopic" default="kodi/"/>
    </category>
    <category label="31000">
        <setting label="31001" type="text"   id="mqttusername" default=""/>
        <setting label="31002" type="text"   id="mqttpassword" option="hidden" default=""/>
    </category>
</settings>
